* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
  }
.container{
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}  
.container h1{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
#common input{
        position: relative;
}
#submit{
      background-color: #fa3ea6;  
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      color: white;
      font-weight: bolder;

}
@media  screen and (max-width:2560px) {
    .container{
        height: 100vh;
        width: 100vw;
    }
    .container h1{
        margin-bottom: 2rem;
        font-size: 3.5rem;
        margin-top: 2rem;
    }
    #common input{
        margin-bottom: 3rem;
        height: 7rem;
        width: 49rem;
        border-radius: 5rem;
        padding-left: 6rem;
        font-size: 2.5rem;
    }
    #common img{
        height: 3.5rem;
        width: 3.5rem;
        position: absolute;
        margin-left: -47rem;
        margin-top: 1.8rem;
    }
    #submit{
        height: 7rem;
        width: 29rem;
        margin-left: 9.3rem;
        font-size: 2rem;
        margin-top: 2rem;

    }
    .feedback{
        width: 49rem;
        height: 19rem;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 2.5rem;
    }
    .tel:invalid:not(:placeholder-shown) {
        border-color: red;
        background-color: #ffe6e6;
      }
  
      /* Style when the input is valid */
      .tel:valid:not(:placeholder-shown) {
        border-color: green;
        background-color: #e6ffe6;
      }
}
@media  screen and (max-width:1440px) {
    .container{
        height: 100vh;
        width: 100vw;
    }
    .container h1{
        margin-bottom: 2rem;
        font-size: 3rem;
        margin-top: 2rem;
    }
    #common input{
        margin-bottom: 1.5rem;
        height: 5rem;
        width: 32rem;
        border-radius: 5rem;
        padding-left: 4rem;
        font-size: 1.5rem;
    }
    #common img{
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        margin-left: -31rem;
        margin-top: 1.2rem;
    }
    #submit{
        height: 4rem;
        width: 15rem;
        margin-left: 8.3rem;
        font-size: 1.5rem;
        margin-top: 2rem;

    }
    .feedback{
        width: 32rem;
        height: 12rem;
        border-radius: 1rem;
        padding: 1rem;
    }
}
@media  screen and (max-width:1240px) {
    .container{
        height: 100vh;
        width: 100vw;
    }
    .container h1{
        margin-bottom: 2rem;
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    #common input{
        margin-bottom: 1.5rem;
        height: 4rem;
        width: 23rem;
        border-radius: 5rem;
        padding-left: 3rem;
        font-size: 1.2rem;
    }
    #common img{
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        margin-left: -22.0rem;
        margin-top: 1.2rem;
    }
    #submit{
        height: 4rem;
        width: 14rem;
        margin-left: 4.3rem;
        font-size: 1.2rem;
        margin-top: 1rem;

    }
    .feedback{
        width: 23rem;
        height: 11rem;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
}
@media  screen and (max-width:800px) {
    .container{
        height: 100vh;
        width: 100vw;
    }
    .container h1{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    #common input{
        margin-bottom: 1rem;
        height: 3rem;
        width: 15rem;
        border-radius: 5rem;
        padding-left: 2rem;
        font-size: 1rem;
    }
    #common img{
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        margin-left: -14.5rem;
        margin-top: 0.7rem;
    }
    #submit{
        height: 3rem;
        width: 8rem;
        margin-left: 3.3rem;
        font-size: 0.9rem;
        margin-top: 1rem;

    }
    .feedback{
        width: 15rem;
        height: 10rem;
        border-radius: 1rem;
        padding: 1rem;
    }
}
@media  screen and (max-width:600px) {
    .container{
        height: 100vh;
        width: 100vw;
    }
    .container h1{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    #common input{
        margin-bottom: 1rem;
        height: 3rem;
        width: 15rem;
        border-radius: 5rem;
        padding-left: 2rem;
        font-size: 1rem;
    }
    #common img{
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        margin-left: -14.5rem;
        margin-top: 0.7rem;
    }
    #submit{
        margin-top: 1rem;
        height: 3rem;
        width: 8rem;
        margin-left: 3.3rem;
        font-size: 0.8rem;

    }
    .feedback{
        width: 15rem;
        height: 10rem;
        border-radius: 1rem;
        padding: 1rem;
    }
}
@media  screen and (max-width:400px) {
    .container{
        height: 100vh;
        width: 100vw;
    }
    .container h1{
               margin-bottom: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    #common input{
        margin-bottom: 1rem;
        height: 3rem;
        width: 15rem;
        border-radius: 5rem;
        padding-left: 2rem;
        font-size: 1rem;
    }
    #common img{
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        margin-left: -14.5rem;
        margin-top: 0.7rem;
    }
    #submit{
        height: 2.5rem;
        width: 8rem;
        margin-left: 3.3rem;
        font-size: 0.8rem;
        margin-top: 1rem;

    }
    .feedback{
        width: 15rem;
        height: 10rem;
        border-radius: 1rem;
        padding: 1rem;
    }
}