* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
#signup{
    height: 100vh;
    width: 100vw;
    background-color: white;
    border: 3rem solid black;
    border-width: thick;
    border-radius: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container{
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}  
.container h1{
    text-align: center;
    font-size: 5rem;
}

#common{
    height: fit-content;
    margin-bottom: 1rem;
    position: relative;
    /* border: 2px solid red; */
}
#common label{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fa3ea6;
    padding-left: 74px;
}
#common img{
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
#common input{
    border-radius: 5rem;
    height: 10rem;
    width: 76rem;
    margin-left: 7rem;
    padding-left: 7rem;
    font-size: 3rem;

}
.rap{
    /* border: 2px solid red; */
}

#common .signup{
    border-radius: 5rem;
    height: 10rem;
    width: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa3ea6;
    font-size: 2rem;
}

@media screen and (max-width:2560px){
    #signup{
        height: 100vh;
        width: 100vw;
        background-color: white;
        border: 3rem solid black;
        border-width: thick;
        border-radius: 0rem;
        margin-top: 0rem;
    }
    .container h1{
        margin-bottom: -4rem;
        text-align: center;
        font-size: 4rem;
        margin-top: 2rem;
    }

    #rap{
     margin-top: 5rem;
    }
    #common input{
        border-radius: 5rem;
        height: 6.5rem;
        width: 53rem;
        margin-left: 0rem;
        padding-left: 5.3rem;
        font-size: 2.5rem;
        margin-bottom: 0rem;
    
    }
    #common .signup{
        font-size: 3.4rem;
        width: 34rem;
        margin-left: 9rem;
        height: 6rem;
        margin-top: 2rem;
    }
    
    #common img{
        width: 3rem;
        margin-top: 1.7rem;
        margin-left: -51rem;
        height: 3rem;
    }
    #common label{
        font-size: 3rem;
        padding-left: 1rem;

    }
    .tel:invalid:not(:placeholder-shown) {
        border-color: red;
        background-color: #ffe6e6;
      }
  
      /* Style when the input is valid */
      .tel:valid:not(:placeholder-shown) {
        border-color: green;
        background-color: #e6ffe6;
      }
    
}


@media screen and (max-width:1440px) {
    #signup{
        height: 100vh;
        width: 100vw;
        background-color: white;
        border: 3rem solid black;
        border-width: thick;
        border-radius: 0rem;
        margin-top: 0rem;
    }
    .container h1{
        margin-bottom: -5rem;
        text-align: center;
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    

    #rap{
     margin-top: 5rem;
    }
    #common input{
        border-radius: 5rem;
        height: 4.5rem;
        width: 34rem;
        margin-left: 0rem;
        padding-left: 3.3rem;
        font-size: 1.5rem;
        margin-bottom: -0.5rem;
    
    }
    #common .signup{
        font-size: 1.4rem;
        width: 16rem;
        margin-left: 9rem;
        height: 4rem;
        margin-top: 2rem;
    }
    #common img{
        width: 2rem;
        margin-top: 1.1rem;
        margin-left: -33rem;
        height: 2rem;

    }
    #common label{
        font-size: 1.8rem;
        padding-left: 1rem;
    }
    
}
@media screen and (max-width:1024px) {
    #signup{
        height: 100vh;
        width: 100vw;
        background-color: white;
        border: 3rem solid black;
        border-width: thick;
        border-radius: 0rem;
        margin-top: 0rem;
    }
    .container h1{
        margin-bottom: -5rem;
        text-align: center;
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    #rap{
     margin-top: 5rem;
    }
    #common input{
        border-radius: 5rem;
        height: 4rem;
        width: 31rem;
        margin-left: 0rem;
        padding-left: 3rem;
        font-size: 1.3rem;
        margin-bottom: -0.5rem;
    
    }
    #common .signup{
        font-size: 1.4rem;
        width: 16rem;
        margin-left: 7rem;
        height: 4rem;
        margin-top: 1rem;
    }
    #common img{
        margin-top: 1rem;
        margin-left: -30rem;
        height: 2rem;
        width: 2rem;

    }
    #common label{
        font-size: 1.8rem;
        padding-left: 1rem;
    }
    
}

@media screen and (max-width:800px) {
    #signup{
        height: 100vh;
        width: 100vw;
        background-color: white;
        border: 3rem solid black;
        border-width: thick;
        border-radius: 0rem;
        margin-top: 0rem;
    }
    .container h1{
        margin-bottom: -6rem;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;

    }

    #rap{
     margin-top: 6rem;
    }
    #common input{
        border-radius: 5rem;
        height: 3rem;
        width: 20rem;
        margin-left: 0rem;
        padding-left: 3rem;
        font-size: 1rem;
        margin-bottom: -1rem;
    
    }
    #common .signup{
        margin-left: 3.5rem;
    margin-top: 2rem;
    height: 3rem;
    width: 13rem;
    font-size: 1.5rem;
    }
    #common img{
        width: 1.5rem;
        margin-top: 0.7rem;
        margin-left: -19rem;
        height: 1.5rem;

    }
    #common label{
        font-size: 1.2rem;
        padding-left: 1rem;
    }
    
}

@media screen and (max-width:600px) {
    #signup{
        height: 100vh;
        width: 100vw;
        background-color: white;
        border: 3rem solid black;
        border-width: thick;
        border-radius: 0rem;
        margin-top: 0rem;
    }
    .container h1{
        margin-bottom: -3rem;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
    }

    #rap{
     margin-top: 3rem;
    }
    #common input{
        border-radius: 5rem;
        height: 3rem;
        width: 19rem;
        margin-left: 0rem;
        padding-left: 3rem;
        font-size: 0.8rem;
    }
    
    
    #common .signup{
        margin-left: 3rem;
        margin-top: 2rem;
        height: 3rem;
        width: 13rem;
        font-size: 1.5rem;
    }
    #common img{
        width: 1.5rem;
        margin-top: 0.7rem;
        margin-left: -18rem;
        height: 1.5rem;

    }
    #common label{
        font-size: 1.2rem;
        padding-left: 1rem;
    }
    
}

@media screen and (max-width:400px) {
    #signup{
        height: 100vh;
        width: 100vw;
        background-color: white;
        border: 3rem solid black;
        border-width: thick;
        border-radius: 0rem;
        margin-top: 0rem;
    }
    .container h1{
        margin-bottom: -4rem;
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
    }

    #rap{
     margin-top: 5rem;
     align-content: center;
    }
    #common input{
        border-radius: 5rem;
        height: 2.5rem;
        width: 15rem;
        margin-left: 0rem;
        padding-left: 2rem;
        font-size: 0.6rem;
        margin-bottom: -1rem;
    
    }
    #common .signup{
        margin-left: 3rem;
        margin-top: 2rem;
        height: 3rem;
        width: 9rem;
        font-size: 1rem;
    }
    #common img{
        margin-top: 0.6rem;
        margin-left: -14.5rem;
        height: 1.2rem;
        width: 1.2rem;

    }
    #common label{
        font-size: 1rem;
        padding-left: 0rem;
    }
    
}
