/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    
    
}

#main {
    height: 100vh;
    width: 100vw;
    background-color: white;
    border: 3rem solid black;
    border-width: thick;
    border-radius: 2rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#head {
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#rap{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}


.pink-link {
   height: 8rem;
    width: 63rem;
    background-color: #fa3ea6;
    padding: 2rem;
    border-radius: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 4rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pink-link a {
    color: black;
    text-decoration: none;
    font-size: 3rem;
}

.pink-link a:hover {
    color: white;
}

@media (max-width: 2560px) {
    #main {
       width: 98vw;
        height: 98vh;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0px;
        
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #head {
        margin-top: 33rem;
        display: flex;
        font-size: 4rem;
        align-items: center;
    }

    .pink-link {
        margin-bottom: 1.2rem;
        width: 26vw;
        padding: 1rem;
        height: 9vh;
    }

    .pink-link a {
        font-size: 3rem;
        cursor: pointer;
    }
    #rap{
        margin-left: 23rem;
        margin-top: 7rem;
    }
}

@media (max-width: 1440px){
    #main {
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0rem;
    }
    
    #head {
        display: flex;
        font-size: 3rem;
        align-items: center;
        margin-top: 19rem;
    }

    .pink-link {
        margin-bottom: 1.2rem;
        width: 22vw;
        font-size: 3rem;
        padding: 1rem;
        height: 9vh;
    }

    .pink-link a {
        font-size: 2rem;
    }

    #rap{
        margin-left: 10rem;
        margin-top: 2rem;
    }
}
@media (max-width: 1024px) {
    #main {
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 0rem;
    }
    
    #head {
        display: flex;
        font-size: 2.5rem;
        margin-top: 13rem;
    }

    .pink-link {
        margin-left: 8rem;
        margin-bottom: 1rem;
        width: 30vw;
        font-size: 2rem;
        padding: 1rem;
        height: 9vh;
    }

    .pink-link a {
        font-size: 2rem;
    }
    #rap{
        margin-left: 0rem;
        margin-top: 0rem;
    }
}


@media (max-width: 800px) {
    #head {
        font-size: 1.5rem;
        margin-top: 12.5rem;
        margin-bottom: 1rem;
        justify-content: center;
    }
    #main{
        margin-top: 0rem;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .pink-link {
        margin-bottom: 0.8rem;
        width: 29vw;
        font-size: 3rem;
        padding: 1rem;
        height: 9vh;
        margin-left: 10rem;
    }

    .pink-link a {
        font-size: 1.2rem;
    }
    #rap{
        margin-left: -1rem;
        margin-top: 0rem;
    }
}

/* For very small devices like mobile phones */
@media (max-width: 600px) {
    #head {
        margin-top: -3.5rem;
        margin-bottom: 1rem;
    }
    .row{
        flex-direction: column;
    }
    #main {
        margin-top: 0rem;
        flex-direction: column;
        height: 145vh;
        width: 100wh;

    }

    .pink-link {
        margin-bottom: 1rem;
        margin-left: 2px;
        height: 3rem;
        width: 58vw;
        font-size: 2.5rem;
        padding: 1rem;
    }

    .pink-link a {
        font-size: 1.2rem;
    }

    #rap{
        margin-left: 0rem;
        margin-top: 0rem;
    }
}

@media (max-width: 400px) {
    #head {
        margin-top: 1rem;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    #main {
        margin-top: 0rem;
        flex-direction: column;
        height: 128vh;
    }

    .pink-link {
        margin-bottom: 1rem;
        margin-left: 2px;
        height: 3rem;
        width: 69%;
        font-size: 2.5rem;
        padding: 1rem;
    }

    .pink-link a {
        font-size: 1.2rem;
    }
}