* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
  }
.container{
    /* border: 2px solid black; */
    height: 100vh;
    width: 100vw;
    background-color: rgb(251, 238, 238);
    display: flex;
    align-items: center;
}
.container .rap{
    border: 2px soild rgb(4, 0, 255);
    background-color: white;
    height: 20vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 2rem;
}
.profile{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fa3ea6;
    margin-top: 2rem;
    position: relative;
}
#profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    position: relative;
   
}
#icon{
    position: absolute;
    height: 2rem;
    width:2rem;
}
#fileInput{
    /* border: 2px solid red; */
    padding-left: 3rem;
        font-size: 10px;
}
#profileName {
    font-size: 20px;
    margin-top: 10px;
}

#profileNameContainer{
        /* border: 2px solid red; */
        color: white;
}
#editNameIcon img{
    height: 1.5rem;
    width: 1.5rem;
}
#nameInput{
    padding-left: 1rem;
    border-radius: 5rem;
    height: 1.5rem;
    width: 45vw;
}
#common{
    border-radius: 5rem;
    position: relative;
}

#label{
    color: #fa3ea6;
}
#submit{
    background-color: #fa3ea6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
}
#icon1{
    position: absolute;
}

@media screen  and (max-width:2560px){
    .container{
        height: 100vh;
        width: 100vw;
    }
        .profile{
            height: 100vh;
            width: 55vw;
            margin-top: 0rem;
        }
        #profilePic {
            width: 250px;
        height: 250px;
       
    
        }
        .container .rap{
            height: 66vh;
            width: 58vh;
            margin-top: 1rem;
            margin-left: 100rem;
    
        }
        #fileInput{
            padding-left: 3rem;
            font-size: 10px;
        }
        #icon{
            margin-top: -15rem;
            height: 4.5rem;
            width: 4.5rem;
            margin-left: 3rem;
        }
    
        #editNameIcon img{
            height: 4rem;
            width: 4rem;
            margin-top: -0.5rem;
            position: absolute;
        }
    
        #profileNameContainer{
            margin-top: 1rem;
            position: relative;
        }
        #nameInput{
            border-radius: 5rem;
            height: 4.5rem;
            width: 14vw;
            font-size: 3rem;
            text-align: center;
        }
        #topic{
            font-size: 2rem;
            margin-top: 2.5rem;
            margin-bottom: 2rem;
            padding-left: 7rem;
        }
        #common{
            margin-bottom: 1rem;
            margin-bottom: 1rem;
            padding-left: 4rem;
            height: 4.5rem;
            width: 29rem;
            font-size: 1.8rem;
            padding-right: 1rem;
        }
        #submit{
            margin-left: 9.5rem;
            width: 10rem;
            height: 4rem;
            margin-top: 2rem;
            font-size: 2rem;
        }
    
        #icon1{
            margin-left: -28.2rem;
            margin-top: 1rem;
            height: 2.5rem;
        }
        #label{
            font-size: 1.8rem;
        }
        #check{
            font-size: 1.8rem;
        }
        #profileName {
            font-size: 52px;
            margin-top: 10px;
        }

       
        .tel:invalid:not(:placeholder-shown) {
            border-color: red;
            background-color: #ffe6e6;
          }
      
          /* Style when the input is valid */
          .tel:valid:not(:placeholder-shown) {
            border-color: green;
            background-color: #e6ffe6;
          }
        
    
}

@media screen  and (max-width:1440px){
    .container{
        height: 100vh;
        width: 100vw;
        }
        .profile{
            height: 100vh;
            width: 55vw;
            margin-top: 0rem;
        }
        #profilePic {
            width: 120px;
            height: 120px;
       
    
        }
        .container .rap{
            height: 70vh;
            width: 58vh;
            margin-top: 1rem;
            margin-left: 54rem;
    
        }
        #fileInput{
            padding-left: 3rem;
            font-size: 10px;
        }
        #icon{
            margin-top: -7rem;
            height: 2rem;
            width: 2rem;
            margin-left: 2rem;
        }
    
        #editNameIcon img{
            height: 2rem;
        width: 2rem;
        margin-top: 0.3rem;
        position: absolute;
        }
    
        #profileNameContainer{
            margin-top: 1rem;
            position: relative;
        }
        #nameInput{
            padding-left: 1rem;
            border-radius: 5rem;
            height: 1.5rem;
            width: 45vw;
        }
        #topic{
            font-size: 1.8rem;
            margin-top: 1.8rem;
            margin-bottom: 0.8rem;
            padding-left: 3rem;
        }
        #common{
            margin-bottom: 0.5rem;
        padding-left: 2rem;
        height: 3rem;
        width: 19rem;
        font-size: 1.2rem;
        padding-right: 0.5rem;
        }
        #submit{
            margin-left: 4.5rem;
            width: 10rem;
            height: 3rem;
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    
        #icon1{
            margin-left: -18.5rem;
            margin-top: 0.7rem;
            height: 1.5rem;
        }
        #label{
            font-size: 1.2rem;
        }
        #check{
            font-size: 1.2rem;
        }
        #profileName {
            font-size: 36px;
           
            margin-top: 10px;
        }
    
}


@media screen  and (max-width:1024px){
    .container{
        height: 100vh;
        width: 100vw;
        }
        .profile{
            height: 100vh;
            width: 55vw;
            margin-top: 0rem;
        }
        #profilePic {
            width: 100px;
        height: 100px;
       
    
        }
        .container .rap{
            height: 70vh;
            width: 55vh;
            margin-top: 1rem;
            margin-left: 37rem;
    
        }
        #fileInput{
            padding-left: 3rem;
            font-size: 10px;
        }
        #icon{
            margin-top: -5rem;
            height: 1.5rem;
            width: 1.5rem;
            margin-left: 2rem;
        }
    
        #editNameIcon img{
            height: 2rem;
        width: 2rem;
        margin-top: 0.3rem;
        position: absolute;
        }
    
        #profileNameContainer{
            margin-top: 1rem;
            position: relative;
        }
        #nameInput{
            padding-left: 1rem;
            border-radius: 5rem;
            height: 1.5rem;
            width: 45vw;
        }
        #topic{
            font-size: 1.5rem;
        margin-top: 1.8rem;
        margin-bottom: 0.5rem;
        padding-left: 2.3rem;
        }
        #common{
            margin-bottom: 0.5rem;
            padding-left: 2rem;
            height: 2.5rem;
            width: 16rem;
            font-size: 1rem;
            padding-right: 0.5rem;
        }
        #submit{
            margin-left: 3rem;
            width: 10rem;
            height: 2.5rem;
            margin-top: 1rem;
        }
    
        #icon1{
            margin-left: -15.5rem;
            margin-top: 0.6rem;
            height: 1.2rem;
        }
        #label{
            font-size: 1rem;
        }
        #check{
            font-size: 1rem;
        }
        #profileName {
            font-size: 36px;
           
            margin-top: 10px;
        }
}
@media screen  and (max-width:800px){
    .container{
    height: 100vh;
    width: 100vw;
    }
    .profile{
        height: 100vh;
        width: 55vw;
        margin-top: 0rem;
    }
    #profilePic {
        width: 100px;
    height: 100px;
   

    }
    .container .rap{
        height: 71vh;
        width: 58vh;
        margin-top: 1rem;
        margin-left: 28rem;

    }
    #fileInput{
        padding-left: 3rem;
        font-size: 10px;
    }
    #icon{
        margin-top: -5rem;
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 2rem;
    }

    #editNameIcon img{
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 0.1rem;
        position: absolute;
    }

    #profileNameContainer{
        margin-top: 1rem;
        position: relative;
    }
    #nameInput{
        border-radius: 5rem;
        height: 1.5rem;
        width: 45vw;
        font-size: 1rem;
        text-align: center;
    }
    #topic{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding-left: 2rem;
    }
    #common{
        padding-left: 2rem;
        height: 2rem;
        width: 13rem;
        margin-bottom: 0.2rem;
        font-size: 0.8rem;
    }
    #submit{
        margin-left: 1rem;
        width: 11rem;
        height: 1.9rem;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    #icon1{
        margin-left: -12.5rem;
        margin-top: 0.4rem;
        height: 1.2rem;
    }
    #label{
        font-size: 0.8rem;
    }
    #check{
        font-size: 0.8rem;
    }
    #profileName {
        font-size: 24px;
        margin-top: 10px;
    }
    
}
@media screen  and (max-width:600px){
    .container{
        height: 113vh;
    width: 100vw;
    flex-direction: column;
    }
    .profile{
        height: 55vh;
        width: 100vw;
        margin-top: -1rem;
    }
    #profilePic {
        width: 100px;
    height: 100px;
   

    }
    #profileName {
        font-size: 20px;
        margin-top: 10px;
    }
    .container .rap{
        height: 70vh;
        width: 58vh;
        margin-top: 13rem;
        margin-left: 0rem;

    }
    #fileInput{
        padding-left: 3rem;
        font-size: 10px;
    }
    #icon{
        margin-top: -5rem;
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 2rem;
    }

    #editNameIcon img{
        height: 1.5rem;
        width: 1.5rem;
        margin-top: -0.1rem;
        position: absolute;
    }

    #profileNameContainer{
        margin-top: 1rem;
        position: relative;
    }
    #nameInput{
        padding-left: 1rem;
        border-radius: 5rem;
        height: 1.5rem;
        width: 45vw;
    }
    #topic{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding-left: 2rem;
    }
    #common{
        padding-left: 2rem;
        height: 2rem;
        width: 13rem;
        padding-right: 0.5rem;
        margin-bottom: 0.1rem;
        font-size: 0.8rem;
    }
    #submit{
        margin-left: 2rem;
        width: 9rem;
        height: 1.9rem;
        margin-top: 1rem;
    }


    #icon1{
        margin-left: -12.5rem;
        margin-top: 0.4rem;
        height: 1.2rem;
    }
    #label{
        font-size: 0.8rem;
    }
    #check{
        font-size: 0.8rem;
    }
    
}
@media screen  and (max-width:400px){
    .container{
        height: 113vh;
    width: 100vw;
 
    }
    .profile{
        height: 52vh;
        width: 100vw;
        margin-top: -1rem;
    }
    #profilePic {
        width: 100px;
    height: 100px;
   

    }
    .container .rap{
        height: 70vh;
        width: 55vh;
        margin-top: 13rem;


    }
    #fileInput{
        padding-left: 3rem;
        font-size: 10px;
    }
    #icon{
        margin-top: -5rem;
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 2rem;
    }

    #editNameIcon img{
        height: 1.5rem;
        width: 1.5rem;
        margin-top: -0.1rem;
        position: absolute;
    }

    #profileNameContainer{
        margin-top: 1rem;
        position: relative;
    }
    #nameInput{
        padding-left: 1rem;
        border-radius: 5rem;
        height: 1.5rem;
        width: 45vw;
    }
    #topic{
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding-left: 3rem;
    }
    #common{
        padding-left: 2rem;
        height: 2rem;
        width: 13rem;
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }
    #label{
        font-size: 0.8rem;
    }
    #submit{
        margin-left: 2rem;
        width: 9rem;
        height: 1.9rem;
        margin-top: 1rem;
        font-size: 1rem;
    }

    #icon1{
        margin-left: -12.5rem;
        margin-top: 0.4rem;
        height: 1.2rem;
    }
    #check{
        font-size: 0.8rem;
    }
  
}
